In [14]:
import pandas as pd

In [15]:
dataset=pd.read_csv('Heart Attack Data Set.csv')

In [16]:
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [18]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [19]:
dataset.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [20]:
''' This is a heart dataset.

You can perform classification on this dataset.

About DataSet There are 13 attributes: 

1. Age: Age (in years) 
2. Sex: gender (1 = male; 0 = female)
3.ChestPain: Chest Pain type -- 1: typical angina (all criteria present) -- 2: atypical angina (two of three criteria satisfied) 
-- 3: non-anginal pain (less than one criteria satisfied) -- 4: asymptomatic (none of the criteria are satisfied)
4. Restbps: Resting Blood pressure (in mmHg, upon admission to the hospital)
5. Chol: serum cholesterol in mg/dL 6. Fbs: fasting blood sugar > 120 mg/dL (likely to be diabetic) 1 = true; 0 = false
7. RestECG: Resting electrocardiogram results -- Value 0: normal -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
8. MaxHR: Greatest number of beats per minute your heart can possibly reach during all-out strenuous exercise.
9.Exang: exercise induced angina (1 = yes; 0 = no)
10. Oldpeak: ST depression induced by exercise relative to rest (in mm, achieved by subtracting the lowest ST segment points during exercise and rest)
11. Slope: the slope of the peak exercise ST segment, ST-T abnormalities are considered to be a crucial indicator for identifying presence of ischaemia -- Value 1: upsloping -- Value 2: flat -- Value 3: downsloping 
12.Ca: number of major vessels (0-3) colored by fluoroscopy. Major cardial vessels are as goes: aorta, superior vena cava, inferior vena cava, pulmonary artery (oxygen-poor blood --> lungs), pulmonary veins (oxygen-rich blood --> heart), and coronary arteries (supplies blood to heart tissue).
13. AHD: 0 = normal; 1 = fixed defect (heart tissue can't absorb thallium both under stress and in rest); 2 = reversible defect (heart tissue is unable to absorb thallium only under the exercise portion of the test) 
14.AHD: 0 = no disease, 1 = disease'''

" This is a heart dataset.\n\nYou can perform classification on this dataset.\n\nAbout DataSet There are 13 attributes: \n\n1. Age: Age (in years) \n2. Sex: gender (1 = male; 0 = female)\n3.ChestPain: Chest Pain type -- 1: typical angina (all criteria present) -- 2: atypical angina (two of three criteria satisfied) \n-- 3: non-anginal pain (less than one criteria satisfied) -- 4: asymptomatic (none of the criteria are satisfied)\n4. Restbps: Resting Blood pressure (in mmHg, upon admission to the hospital)\n5. Chol: serum cholesterol in mg/dL 6. Fbs: fasting blood sugar > 120 mg/dL (likely to be diabetic) 1 = true; 0 = false\n7. RestECG: Resting electrocardiogram results -- Value 0: normal -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria\n8. MaxHR: Greatest number of beats per minute your heart can possibly reach during all-out strenuous exercise.\n9.Exang: exercise induced angina (1 = yes; 0 = no)\n10. Oldpeak: ST depression induced by exercise relative to rest (in mm, achieved by subtracting the lowest ST segment points during exercise and rest)\n11. Slope: the slope of the peak exercise ST segment, ST-T abnormalities are considered to be a crucial indicator for identifying presence of ischaemia -- Value 1: upsloping -- Value 2: flat -- Value 3: downsloping \n12.Ca: number of major vessels (0-3) colored by fluoroscopy. Major cardial vessels are as goes: aorta, superior vena cava, inferior vena cava, pulmonary artery (oxygen-poor blood --> lungs), pulmonary veins (oxygen-rich blood --> heart), and coronary arteries (supplies blood to heart tissue).\n13. AHD: 0 = normal; 1 = fixed defect (heart tissue can't absorb thallium both under stress and in rest); 2 = reversible defect (heart tissue is unable to absorb thallium only under the exercise portion of the test) \n14.AHD: 0 = no disease, 1 = disease"

In [21]:
y=dataset['target']

In [22]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [23]:
#x = dataset[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal']]

In [24]:
x = dataset[['age','sex','chol','thalach']]

In [25]:
x

     age  sex  chol  thalach
0     63    1   233      150
1     37    1   250      187
2     41    0   204      172
3     56    1   236      178
4     57    0   354      163
..   ...  ...   ...      ...
298   57    0   241      123
299   45    1   264      132
300   68    1   193      141
301   57    1   131      115
302   57    0   236      174

[303 rows x 4 columns]

In [26]:
x

     age  sex  chol  thalach
0     63    1   233      150
1     37    1   250      187
2     41    0   204      172
3     56    1   236      178
4     57    0   354      163
..   ...  ...   ...      ...
298   57    0   241      123
299   45    1   264      132
300   68    1   193      141
301   57    1   131      115
302   57    0   236      174

[303 rows x 4 columns]

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [29]:
print(x_train.shape,x_test.shape,x.shape)

(242, 4) (61, 4) (303, 4)

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
model=LogisticRegression()

In [32]:
model

LogisticRegression()

In [33]:
x_train

     age  sex  chol  thalach
61    54    1   309      156
238   77    1   304      162
160   56    1   240      169
158   58    1   220      144
289   55    0   205      130
..   ...  ...   ...      ...
100   42    1   244      178
49    53    0   234      160
300   68    1   193      141
194   60    1   185      155
131   49    0   271      162

[242 rows x 4 columns]

In [34]:
y_train

61     1
238    0
160    1
158    1
289    0
      ..
100    1
49     1
300    0
194    0
131    1
Name: target, Length: 242, dtype: int64

In [35]:
model.fit(x_train,y_train)

LogisticRegression()

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
# To know the accurecy of train data
x_train_prediction=model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [38]:
print("Accurracy on Test data :",training_data_accuracy)

Accurracy on Test data : 0.7148760330578512

In [39]:
# TO know the Accurecy of test data
x_test_prediction=model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [40]:
print("Accurracy on Test data :",test_data_accuracy)

Accurracy on Test data : 0.7213114754098361

In [41]:
prep=model.predict([[57,0,354,163]])
print(prep)

[1]

c:\Users\bhari\OneDrive\Desktop\Heart_attack_prediction\Project\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [42]:
import pickle

In [43]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)